<app-loading-overlay *ngIf="cargando"></app-loading-overlay>

<div class="container mt-5 mb-5 p-4 bg-white shadow rounded">
    
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 mb-5">
                     <div class="example-button-row">
                        <div class="example-flex-container">
                            <button mat-fab extended (click)="abrirDialogo('agregar')">
                                <mat-icon>add</mat-icon>
                                    Nuevo
                            </button>    
                        </div>
                    </div>
            </div>
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <mat-label>Busqueda</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ejm. Paseo del Inca" #input>
                </mat-form-field>
            </div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="idNivel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
      <td mat-cell *matCellDef="let row"> {{row.idNivel}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="nombreNivel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Nivel </th>
      <td mat-cell *matCellDef="let row"> {{row.nombreNivel}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="estadoNivel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let row">  
        <span *ngIf="row.estadoNivel === '1'" class="badge bg-success text-white">Activo</span>
        <span *ngIf="row.estadoNivel === '0'" class="badge bg-danger text-white">Inactivo</span>
    </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let row"> 
          <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="abrirDialogo('editar', row)">
            <mat-icon>edit</mat-icon>
          </button>
        <!-- <button mat-mini-fab aria-label="Example icon button with a delete icon" >
          <mat-icon>delete</mat-icon>
        </button> -->
    </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>


        </div>
    </div>

</div>

