  <div class="row">
    <div class="col-md-12 mr-3 dialog-container">
    <mat-card class="mt-4">
      <mat-card-header>
        <mat-card-title>{{ data.modo === 'agregar' ? 'Agregar' : 'Actualizar' }} Itinerario</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row mt-4">
            <div class="col-md-6 ">
                <mat-form-field class="example-full-width">
                <mat-label>Nombres</mat-label>
                  <input matInput [(ngModel)]="nombreUsuario">
                </mat-form-field>
            </div>
            <div class="col-md-6 ">
                <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                  <input matInput [(ngModel)]="apellidoUsuario">
                </mat-form-field>
            </div>
            <div class="col-md-6 ">
                <mat-form-field class="example-full-width">
                <mat-label>Correo</mat-label>
                  <input matInput [(ngModel)]="apellidoUsuario">
                </mat-form-field>
            </div>
              <div class="col-md-6 ">
                <mat-form-field class="example-full-width">
                <mat-label>Nombre login</mat-label>
                  <input matInput [(ngModel)]="apellidoUsuario">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Elija un rol</mat-label>
                <mat-select matNativeControl [(ngModel)]="rolSeleccionado">
                   <mat-option *ngFor="let rol of roles" [value]="rol.tri_rol_id">
                        {{ rol.tri_rol_nombre }}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="ActualizarOregistrarItinerario()"> {{ data.modo === 'agregar' ? 'Agregar' : 'Actualizar' }}</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
